body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

.App{
    text-align: center;
    &>h1{
        color: red;
    }
}
.color{
    color: green;
}
.blue{
    color:blue;
}
.language{
    display:flex;
    margin-bottom: 50px;
    &>span{
        flex:1;
        line-height: 40px;
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    &>span.on{
        background: coral;
        color: #fff;
    }
}
.TestComposition{
    height: 1000px;
    // position: relative;
}