.App {
  text-align: center;
}

.App > h1 {
  color: red;
}

.color {
  color: green;
}

.blue {
  color: blue;
}

.language {
  display: flex;
  margin-bottom: 50px;
}

.language > span {
  flex: 1;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.language > span.on {
  background: coral;
  color: #fff;
}

.TestComposition {
  height: 1000px;
}
